body{background-color: black;}

#links{position: fixed; left: 26vw; top: 5vh; font-size: 10vh; color: aqua; text-shadow: 3px 3px 0 purple, -3px -3px 0 purple, 3px -3px 0 purple, -3px 3px 0 purple;}

#fivediv{position: fixed; left: 36vw; top: 34vh; height: 12vh; width: 32vw; border: 2px solid purple; background-color: aqua; border-radius: 1.5vh; 
transition: all 0.3s;}

#fivepage{position: absolute; left: 16%; top: -15%; font-size: 6.5vh; color: black;}

#fivelink{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%;}

#fivediv:hover{background-color: blue; cursor: pointer;}

#bootdiv{position: fixed; left: 36vw; top: 55vh; height: 12vh; width: 32vw; border: 2px solid purple; background-color: aqua; border-radius: 1.5vh; 
transition: all 0.3s;}

#bootpage{position: absolute; left: 16%; top: -15%; font-size: 6.5vh; color: black;}

#bootlink{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%;}

#bootdiv:hover{background-color: blue; cursor: pointer;}

#portdiv{position: fixed; left: 36vw; top: 76vh; height: 12vh; width: 32vw; border: 2px solid purple; background-color: aqua; border-radius: 1.5vh; 
transition: all 0.3s;}

#portpage{position: absolute; left: 16%; top: -15%; font-size: 6.5vh; color: black;}

#portlink{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%;}

#portdiv:hover{background-color: blue; cursor: pointer;}




#palmneo{position: fixed; left: -1vw; bottom: -6.5vh; height: 90vh; width: auto;}

#palmneon{position: fixed; right: -1vw; bottom: -4.7vh; height: 90vh; width: auto;}


@media (max-width: 1375px){
#links{position: fixed; left: 50vh; top: 5vh; font-size: 8vh; color: aqua; text-shadow: 1.5px 1.5px 0 purple, -1.5px -1.5px 0 purple, 1.5px -1.5px 0 purple, -1.5px 1.5px 0 purple;}
}