/*I will most likely use this for just index, however I will include a couple of element selectors since this page is linked to all pages and that's required
for this week, I made css files for all pages to keep styles seperated, usually involving id's, but I will include what's required befoe I do anything later*/

/*kinda just adding things I might use later, kinda having a little fun with this page, I'll change the css later*/
/*also just found out that the second css file linked overides the first one!, so linking 2 shouldn't be an issue*/

/*also, here's the reveiw questions I didn't know where to put them:

An html tag is used as the structure and content of the page, 10 exaples include, h1, p, img, html, head, body, meta, a, div, and br.

2 tags that don't require a closing tag are link tags and img tags.

an html attribute is something that goes onto an html tag to modify it, id and class are usually the most popular and it's used in this site.

*/

body{background-color: black;}

h1{color: cyan; font-size: 4.5vh; font-family: 'Times New Roman', Times, serif;}

h2{color: blueviolet; font-size: 3.5vh;}

p{color: white; font-size: 2vh;}

li{color: white; font-size: 2vh;}

h3{color: aqua; font-size: 3vh;}

h4{color: green; font-size: 2.5vh;}

a{color: blue; transition: all 0.3s; font-size: 2vh;}

a:hover{color: aqua;}

